# ========================
# Discord
# ========================
DISCORD_TOKEN=token_aqui
CLIENT_ID=id_aqui
GUILD_ID=945560580553584680

# ========================
# Canais
# ========================
WELCOME_CHANNEL_ID=965772784359833610
RULES_CHANNEL_ID=1504639363701674076
HABBO_VERIFY_CHANNEL_ID=1504691822604193812
PROFILES_CHANNEL_ID=id_do_canal_de_perfis_aqui

# ========================
# Cargos
# ========================
VISITOR_ROLE_ID=965775309783834644
PLAYER_ROLE_ID=1504639860089294939

# ========================
# Banco de Dados (Railway)
# ========================
DATABASE_URL=link do banco de dados aqui
# ========================
# Habbo API
# ========================
HABBO_API_BASE=https://www.habbo.com.br/api/public
